* {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

:root {
    --fs--heading: 'Palanquin', sans-serif;  
    --fs--texting: 'Staatliches', sans-serif;
    --big-primary: #EFF1FF;
    --fc--primary: #ffffff;
    --fc--secundary: #CBC0D3;

    font-size: 62.5%;
    --fs-body: 1.6rem;
    --fs-heading: 4rem;
}

body {
    font-family: var(--fs--texting);

    background-color: var(--big-primary);

    font-size: var(--fs-body)


}
.page {
    max-width: 32rem;
    margin: 0 auto;


}

header {
    font-family: var(--fs--heading);
    text-align: center;
    background: #8E9AAF;
    height: 260px;
}

header h1 {
  color: var(--fc--primary);
  background-color: var(--fc--secundary);
  letter-spacing: 0.05em;
    line-height: 3.4rem;
    margin-top: 3.2rem;


}

main {
    margin-left: 3.2rem;
    margin-right: 3.2rem;
}

main p {

    font-size: var(--fs--heading);
    margin-top: 2.4rem;
    color: #23053A;
    margin-bottom: 6.3rem;
    display: flex;
    align-items: center;
    text-align: center;
    
}

main img {
    width: 100%;
    height: auto;
}

.card div > :nth-last-child(1)
.card div > :nth-last-child(3)
{
    height: 250rem;
    object-fit: cover;
    margin-bottom: 3.4rem;
}

.card {
    object-fit: cover;
}

.card h2 {
    
    position: absolute;
    right: 7.1rem;
    padding: 0 1.2rem;
}

h2 {
    position: absolute;
    margin-top: 1.6rem;
    font-size: 2.0rem;
    font-weight: 400;
    color: #4A4E69;
    font-size: var(--fs--texting);

    background: #FEEAFA;
    border-radius: 20px;
    
}
 